<div id="sidebar">
    <h1>Admin Dashboard</h1>
    <ul>
            <li><a href="{% url 'adminhome' %}">Home</a></li>
            <li><a href="{% url 'a_view_person' %}">View Users</a></li>
            <li><a href="{% url 'a_add_person' %}">Add Employee</a></li>
            <li><a href="{% url 'a_add_items' %}">Add items</a></li>
            <li><a href="{% url 'a_view_menu' %}">View Menu</a></li>
            <li><a href="{% url 'a_view_category' %}">View category</a></li>
            <li><a href="{% url 'a_add_category' %}">Add category</a></li>
        <!-- Add more links as needed -->
    </ul>
</div>
